
<body>
  
    <ul>
      <% @usuario = current_user %>
  <h2>Bem vindo: <%= @usuario.aluno.nome %></h2>
  <hr>
  <dt><strong>Suas Disciplinas Matriculadas:</strong></dt>
  <% @usuario.aluno.matriculas.where("semestre = 2016.2").each do |mat| %>
  <li><%= "Código: #{mat.turma.disciplina.codigo} - Nome: #{mat.turma.disciplina.nome} - Semestre: #{mat.semestre}" %></li>
  <% end %>
    </ul>
</body>