<body>
  
    <ul>
      <% @usuario = current_user %>
    <h2>Bem vindo: <%= @usuario.aluno.nome %></h2>
    <hr>
     <% @usuario.aluno.matriculas.where("semestre = 2016.2").each do |mat| %>
     <p><li><%= "Turma: #{mat.turma.codigo} - Disciplina: #{mat.turma.disciplina.nome} - Semestre: #{mat.semestre} - AP1: #{mat.ap1}" %></li></p>
     <p><li><%= "Turma: #{mat.turma.codigo} - Disciplina: #{mat.turma.disciplina.nome} - Semestre: #{mat.semestre} - AP2: #{mat.ap2}" %></li></p><p><li><%= "Turma: #{mat.turma.codigo} - Disciplina: #{mat.turma.disciplina.nome} - Semestre: #{mat.semestre} - AP3: #{mat.ap3}" %></li></p>
     <% end %>
    </ul>
    
    
</body>